name: release
on:
  push:
    tags:
      - '*'

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3
      - name: login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3
      - name: login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: helm package chart
        run: |-
          PKG_VER=${GITHUB_REF_NAME#v}
          sed \
            -e "s/^appVersion:.*/appVersion: ${PKG_VER}/" \
            -e "s/^version:.*/version: ${PKG_VER}/" \
            -i charts/cert-manager-webhook-rackspace/Chart.yaml
          helm package -u -d . charts/cert-manager-webhook-rackspace
          helm push cert-manager-webhook-rackspace-${PKG_VER}.tgz "oci://ghcr.io/$GITHUB_REPOSITORY_OWNER/charts"
          cosign sign --yes "ghcr.io/$GITHUB_REPOSITORY_OWNER/charts/cert-manager-webhook-rackspace:${PKG_VER}"

